<h1>Movie WatchList Builder</h1>
<%= link_to 'New Watch List', new_list_path, class: 'btn btn-success mt-3' %>
<div class="row">
  <div class="cards mb-5">
    <% @lists.each do |list| %>
      <%= render 'card', list: list %>
    <% end %>
  </div>
</div>
