<h1>Movie WatchList Builder</h1>
<%= link_to 'New Watch List', new_list_path, class: 'btn btn-success my-3' %>
<div class="d-flex flex-wrap">
  <% @lists.each do |list| %>
    <%= render 'card', list: list %>
  <% end %>
</div>
