.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: asset_url("Netflix.png");
  background-size: center;

  h1 {
    font-size: 3em;
    color: #FFFFFF;
    margin-top: 5%;
  }

}

.page-frame-header {
  background-color: rgb(0, 0, 0);
  padding: 2.5%;
}

.page-frame-body {
  flex-grow: 1;
  // overflow: scroll;
}

.page-frame-footer {
  background-color: rgb(0, 0, 0);
  padding: 2.5%;
}
