.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: asset_url("krists-luhaers-AtPWnYNDJnM-unsplash.jpg");
  background-size: center;

  h1 {
    font-size: 1.5em;
    color: #FFFFFF;
    // margin-top: 5%;
  }
}

.page-frame-header {
  background-color: rgb(0, 0, 0);
  padding: 2.5%;
}

.page-frame-body {
  flex-grow: 1;
  overflow: auto;
}

.page-frame-footer {
  background-color: rgb(0, 0, 0);
  padding: 2.5%;
}
